a {
    color: black;
    text-decoration: none;
}

.modes{
	position:absolute;
	color: orange;
	top:10px;
	right:20px;
}

h1{
    font-size: 3em;
    margin-top: 18px;
}

p{
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
  }
  
li {
    float: left;   
}

li p {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 1px;
    margin-right: 100px;
    text-decoration: none;
  }
  
